.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30vh;
  width: 100vw;
}

.contact-h {
  margin: 20px;
  text-align: center;
}

#contact-h1 {
  font-size: 40pt;
  font-weight: 300;
}

#contact-h2 {
  margin-top: 0px;
  font-size: 30pt;
  font-weight: 300;
  margin-bottom: 50px;
}

.name-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 5px 0 5px;
}

.name-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100%;
}

.names {
  width: 61%
}

.input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100%;
  padding: 0 5px 0 5px;
}

.name-input > input {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: azure;
  height: 30px;
  color: azure;
  font-size: 14pt;
}

.input-div > label {
  font-size: 14pt;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
}

.contact-form > * {
  margin: 10px;
}

.input-div > input {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: azure;
  height: 30px;
  color: azure;
  font-size: 14pt;
}

.input-div > input:focus {
  outline: none;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: azure;
}

.submit {
  background: none;
  color: azure;
  border: solid;
  border-color: azure;
  border-width: 2px;
  height: 55px;
  width: 115px;
  color: azure;
  font-family: "Urbanist", sans-serif;
  font-size: 18pt;
  cursor: pointer;
}

/* #first-name {
  margin-right: 10px; 
} */

.message {
  width: 80%;
}

@media screen and (max-width: 1165px) {
  #contact-h1 {
    font-size: 24pt;
    font-weight: 300;
  }
  #contact-h2 {
    font-size: 18pt;
    font-weight: 300;
  }
  .name-div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .names {
    width: 80%;
  }
}