.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 10%;
}

h1 {
    font-size: 40pt;
    font-weight: 500;
}

p {
    text-align: center;
    max-width: 700px;
    font-size: 18pt;
    color: rgb(198, 211, 211);
    font-weight: 300;
}

@media screen and (max-width: 1165px) {
    .intro {
        padding-top: 0;
    }
}