.projects-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    margin-bottom: 3vh;
}

.projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

h2 {
    font-size: 25pt;
    font-weight: 500;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-top: 40px;
    margin-bottom: 40px;
}

.img-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23.5vh;
    width: 22.25vw;
    min-width: 300px;
    border: solid;
    border-color: azure;
    border-radius: 20px;
    background-color: #1d1d1d;
    box-shadow: 0 0 30px #1f9aff;
}

.jukify {
    height: 18vh;
}

.narr {
    height: 23.5vh;
    width: 22.25vw;
    min-width: 300px;
    border-radius: 20px;
}

.pokelf {
    width: 22.25vw;
    border-radius: 20px;
}

.project-desc {
    height: fit-content;
    margin: 10px;
    width: 35vw;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.desc-txt {
    padding: 1% 25% 1% 25%;
    width: 15vw;
    min-width: 300px;
    border: solid;
    border-color: azure;
    border-width: 1px;
}

.proj-tech {
    font-size: 16pt;
}

@media screen and (max-width: 1165px) {
    .desc-txt {
        padding: 0;
        margin: 10px;
    }
    .project-container {
        padding: 0 5px 0 5px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .pokelf-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .img-div {
        margin: 0
    }
}