.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
}

h2 {
  font-size: 25pt;
  font-weight: 500;
}

.skills-div {
    display: flex;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    margin: 40px;
    padding: 10px;
    border-radius: 20px;
    border-width: 2px;
    max-height: 270px;
}

.skills > h3 {
    font-size: 20pt;
    font-weight: 500;
}

.list-container {
    display: flex;
    justify-self: center;
    margin: 30px;
}

.skills-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 10px;
}

.skills-list > li {
    font-size: 16pt;
    margin: 10px;
}
 