@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;500&display=swap');


.App {
    display: flex;
    flex-direction: column;

}

.me {
    width: 10vw;
    position: absolute;
    left: 5vw;
    top: 5vh;
}

body {
    background-color: black;
    color: azure;
    font-family: 'Urbanist', sans-serif;
    overflow-y: scroll;
}

footer {
    height: 100px;
}

@media screen and (max-width: 1165px) {
    .project-container {
        flex-direction: column;
        align-items: center;
    }
    .img-div {
        margin: 0
    }
    .skills-div {
        flex-direction: column;
    }

    .intro, .projects-header, .project-container, .skills-container, .contact-me {
        margin-left: 20vw;
    }
}